/D08/ipTracking/nbproject/private/
/D08/ipTracking/build/
/D08/IpFinder/nbproject/private/
/D08/IpFinder/build/
/D08/IpFinder/dist/
/D08/WordCounter/nbproject/private/
/D08/WordCounter/build/
/D08/WordCounter/dist/
/D08/HelloWorld/nbproject/private/
/D08/HelloWorld/build/
/D08/HelloWorld/dist/
/D08/HelloWorldFx/nbproject/private/
/D08/HelloWorldFx/dist/
/D08/HelloWorldFx/build/
/D09/NotePad/nbproject/private/
/D09/NotePad/dist/
/D09/NotePad/build/